td {
  border: 1px solid darkgray;
  width: 20px;
  height: 20px;
}
table{ margin: auto;
border-collapse: collapse;}

.noir{background-color: black;}

.darkmarron{background-color:rgb(41, 13, 2);}

.marronclair{ background-color: rgb(92, 27, 2);}

.chairclair{background-color: salmon;}
