*{
  margin: 0;
  padding: 0;
}

.rouge {display: flex;
  background-color: rgb(165, 77, 55);
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

#gauche {
color: aliceblue;}

.centré {
  text-align: center;
}

.bleu {
  background-color: rgb(11, 180, 192);
  color: aliceblue;
  height: 250px;
}
#tableau {display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    height: 250px;
}
.orange {background-color: rgba(210, 105, 30, 0.733);}

.jaune {background-color: rgba(255, 217, 0, 0.733);}

.vert {background-color: rgba(0, 128, 0, 0.733);}


a {text-decoration: none;
color:aliceblue;
padding:9px}

.gauche {display: inline;}

#oublie {
margin: 50px auto 0 auto;
background-color: blue;
height: 30px;
width:fit-content;
border-radius: 5px;
display: flex;
align-items: center;
}

h2 , h3 , p {padding:5px}

